h1 {
    text-align: center;
    color: black;
    text-shadow: 2px 12px 20px #6441A4, 0 0 25px #6441A4, 0 0 5px #6441A4;
}

div {
    text-align: left;
}

#faultyItems {
    visibility: hidden;  
}

#launchForm {
    background-color: #f4f0ec;
    text-align: center;
    margin: auto;
    width: 25%;
    border: 3px solid #6441A4;
    padding: 10px;
}

#launchStatusCheck {
    background-color: #f4f0ec;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid #6441A4;
    padding: 10px;
}

/* #launchStatus {
    text-shadow:5px 5px 10px red;
} */

#missionTarget img {
    max-width: 40%;
    max-height: 250px;
}

#missionTarget {
    background-color: #f4f0ec; 
    /* isabelline color */
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid #6441A4;
    padding: 10px;
}

button {
    background-color: #6441A4;
    border: none;
    color: white;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
    /* box-shadow: 5px 10px #888888; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

#planetList {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}